<!DOCTYPE HTML>
<html>

<head>
    <script type="text/javascript">
        window.onload = function () {
            var dataPoints = [];
            var chart;
            $.getJSON("/api/heartbeat", function (data) {
                $.each(data, function (key, value) {
                    dataPoints.push({ x: value[0], y: parseInt(value[1]) });
                });
                chart = new CanvasJS.Chart("chartContainer", {
                    title: {
                        text: "Live Chart with dataPoints from External JSON"
                    },
                    data: [{
                        type: "line",
                        dataPoints: dataPoints,
                    }]
                });
                chart.render();
                updateChart();
            });
            function updateChart() {
                $.getJSON("/api/heartbeat", function (data) {
                    $.each(data, function (key, value) {

                        console.log(value);
                        dataPoints.push({
                            x: parseInt(value[0]),
                            y: parseInt(value[1])
                        });
                    });
                    chart.render();
                    setTimeout(function () { updateChart() }, 1000);
                });
            }
        }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>

</html>