*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 .topbar
 {
  position: fixed;
  background: #000;
  height: calc(20%);
  width: 100%;
  align-items: center;
  z-index: 1;
 }

 .logo img
 {
  position: absolute;
  top: 0;
  left: calc(40%);
  height: 100%;
  width: calc(25%);
  object-fit: cover;
 }

 .sidebar{
  position: fixed;
  width: calc(18%);
  top: calc(20%);
  background: #000;
  height: calc(100% );
  overflow-x: hidden;

 }

 .sidebar p{

  padding-left: 10px;
  padding-top: calc(15%);
  color: #fff;
  font-size: calc(150%);
  font-family:'Poppins', sans-serif;
 }

 .grid {
  padding-top: calc(8%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #0000;
  margin: 10px;
}

.ct {
  background-color: #B2DBF5 ;
  text-align: center;
  font-size: 19px;
  padding: calc(10%);
  border-radius: 10px;
  font-family:'Poppins', sans-serif;

}

.cards
{
 top: calc(20%);  
 width: calc(90%);
 margin-top: calc(13%);
 margin-left: calc(3%);
 display: grid;
 grid-template-columns: repeat(1,1fr);
}

.cards .card{
 padding: calc(3%);
 display: flex;
 align-items: center;
 
 justify-content: space-between;
 background: #BFD7ED;
 border-radius: 10px;
 box-shadow: 0 7px 25px 0 #000;
 padding-left: calc(30%);
 margin-left: calc(2%);
}

.number
{  
 font-size: 40px;
 text-align: center;
 color: #000;
 font-family:'Poppins', sans-serif;
}

 .main
 {
  position: fixed;
  top: calc(20%);
  width: calc(100% - 18%);
  left: calc(18%); 
  min-height: calc(100% - 20%);
  background: #000;
 }

.charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
  padding: 70px;
  padding-top: 40px;
}

.graph{
  background: #F1FAFC;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.graph h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #000;
  text-align: center;
  font-family:'Poppins', sans-serif;

}

.maps{
  border-radius: 10px;
}

/* .maps h2{
  margin-bottom: 5px;
  font-size: 20px;
  color: #D3F4FB;
  text-align: center;
  font-family:'Poppins', sans-serif;

} */

.graph button {
  border: none;
  border-radius: 7px;
  color: #000;
  background-color: #fff;
  margin: 30px 10px;
  padding: 5px 20px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-family:'Poppins', sans-serif;
}

.maps button {
  border: none;
  border-radius: 7px;
  color: #000;
  background-color: #fff;
  margin: 10px 2px;
  padding: 2px 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-family:'Poppins', sans-serif;
  z-index: 1;
}


@media (max-width: 1000px){

  .main
  {
    position: relative;
  width: 100%;
  }
 
 .charts{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 50px;
   width: 100%;
   padding: 70px;
   padding-top: 40px;
 }
}